@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}


@keyframes ekg-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-140px);
  }
}

@theme {
  --animate-ekg: ekg-scroll 5s linear infinite;
}



